body {
    font-family: Arial, sans-serif;
}

main {
    max-width: 640px;
    margin: 50px auto 0 auto;
    border: 1px solid #000;
    padding: 10px;
}

.logo {
    width: 15vw;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 0;
}

h2 {
    font-size: 1rem;
    font-weight: normal;
    margin-top: 0;
    color: #606770;
}

form {
    border-top: 1px solid #CCC;
    padding-top: 5px;
}

.double-input input {
    width: 46.8%;
}

.large-input input {
    width: 97%;
}

.double-input input, .large-input input {
    padding: 6px 8px;
    background-color: #f5f6f7;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
    margin-bottom: 2px;
}

legend {
    font-size: 0.8rem;
}

select {
    width: 32%;
    margin-right: 2px;
    padding: 5px 0;
    background-color: #FFF;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
}

.form-submit {
    margin: 20px 0;
    text-align: center;
}

.form-submit button {
    background-color: #060;
    color: #FFF;
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
}